<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/product/product-detail-styles.css">
    <title>Vendo Mis Cosas</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>


    <main class="product-detail-all-container">

      <% if(product) { %>

      <h1 class="product-title">Categoría: <%= product.categories.category_name %></h1>
      <h2 class="product-subtitle"><%= product.product_name %></h2>

      <section class="product-detail-container">

        <div class="thumbs-container">

          <img class="thumb" src="/img/products/<%= product.main_image %>" alt="imagen-1" />

          <% if(product.product_additional_images) { %>
            <img class="thumb"
            src="/img/products/<%= product.product_additional_images.image_2 %>"
            alt=""
          />

          <img class="thumb"
            src="/img/products/<%= product.product_additional_images.image_3 %>"
            alt=""
          />

          <img class="thumb"
            src="/img/products/<%= product.product_additional_images.image_4 %>"
            alt=""
          />
          <% } %>


        </div>

        <div class="image-display">

          <img class="image" src="/img/products/<%= product.main_image %>" alt="imagen-1" />

        </div>

        <div class="info-container">

          

            <h1><%= product.product_name %></h1>
            <h4><%= product.product_description %></h4>

            <h2>$ <%= product.product_price %></h2>
          
          

          <button class="btn">Comprar</button>

          <a class="user-link" href="/usuarios/<%= product.users.id %>">
            <div class="user-card">

              <img class="user-avatar" src="/img/users/<%= product.users.user_avatar %>" alt="">

              <div class="user-data">

                <p class="user-name">Vendedor: <%= product.users.user_name %></p>
                <p class="user-mail"><%= product.users.user_email %></p>

              </div>

          <% } else if(!product) { %>

            <h1 class="product-title">No existe el Producto <%= id %></h1>

          <% } %>

            </div>

          </a>


        </div>


      </section>

      <section class="related-products">

        <h2 class="product-subtitle">Productos Relacionados</h2>

        <div class="related-products-container">

          <% relatedProducts ? relatedProducts.map (element => { %>

            <a class="product-link" href="/usuarios/<%= product.users.id %>/productos/<%= element.id %>">
              <article class="product-card">
                <img
                  class="product-image"
                  src="/img/products/<%= element.main_image %>"
                  alt="imagen-producto"
                  style="max-width: 275px"
                />
    
                <h3 class="product-name"><%= element.product_name %></h3>
    
                <p class="product-description">
                  <%= element.product_description %>
                </p>
    
                <p class="product-price">$ <%= element.product_price %></p>
              </article>
            </a>



          <% }): ''; %>

          

        </div>

      </section>

    </main>

    <%- include('../partials/footer') %>
    
    <script src="/js/imageDisplay.js"></script>
  </body>
</html>
