<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/product/product-detail-styles.css">
    <title>Vando Mis Cosas</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <section class="product-detail-container">
      <article class="product-card">
        <div class="product-info">
          <% if(product) { %>
          <h4>Categoría: <%= product.categories.category_name %></h4>

          <h1><%= product.product_name %></h1>
          <h4><%= product.product_description %></h4>

          <h2>$ <%= product.product_price %></h2>
        </div>

        <img src="/img/products/<%= product.main_image %>" alt="imagen-1" />

        <img
          src="/img/products/<%= product.product_additional_images.image_2 %>"
          alt="imagen-2"
        />

        <img
          src="/img/products/<%= product.product_additional_images.image_3 %>"
          alt="imagen-3"
        />

        <img
          src="/img/products/<%= product.product_additional_images.image_4 %>"
          alt="imagen-4"
        />

        <% } %>
      </article>
    </section>
  </body>
</html>
