<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/product/update-product-form-styles.css" />
    <title>Vendo Mis Cosas</title>
  </head>
  <body>
    <header><%- include('../partials/header') %></header>

    <main class="update-product-all-container">
      <h1 class="update-product-title">Modificar Producto</h1>

      <div class="form-container">
        <form
          action="/usuarios/<%= product.users.id %>/actualizar-producto/<%= product.id %>?_method=PUT"
          method="POST"
          class="form"
          enctype="multipart/form-data"
        >
          <h2 class="update-product-subtitle">Modificación de Producto</h2>

          <div class="input-container">
            <input
              value="<%= locals.userLogged.id %>"
              class="form-control"
              type="hidden"
              name="user_fk_id"
            />
          </div>

          <div class="input-container">
            <label for="" class="label"
              >Nombre del Producto <span class="red-star">*</span>
            </label>
            <input class="form-control" type="text" name="product_name" 
            value="<%= locals.oldData ? oldData.product_name : product.product_name %>" />
            <% if(locals.errors && errors.product_name) { %>
              <p class="error-msg"><% errors.product_name.msg %></p>
            <% } %>
          </div>

          <div class="textarea-container">
            <label for="product_description" class="label">Descripción</label>
            <input
              class="form-textarea"
              type="textarea"
              name="product_description"
              value="<%= locals.oldData ? oldData.product_description : product.product_description %>"
              <% if(locals.error && errors.product_description) { %>
                <p class="errors-msg"><%= errors.product_description.msg %></p>
              <% } %>
            />
          </div>

          <div class="input-container">
            <label for="" class="label"
              >Precio <span class="red-star">*</span>
            </label>
            <input class="form-control" type="number" name="product_price"
            value="<%= locals.oldData ? oldData.product_price : product.product_price %>" />
          </div>

          <div class="input-container">
            <label for="category_id">Selecciona una categoría:</label>
            <select class="form-control" id="category" name="category_id">
              <option value=""></option>
              <% categories.map(category => { %>
              <option value="<%= category.id %>"
                <%= (locals.oldData && oldData.category_id == category.id) || (!locals.oldData && product.category_id == category.id) ? 'selected' : '' %>>
                <%= category.category_name %>
              </option>
              <% }) %>
            </select>
          </div>

          <div class="img-container">
            <img
              class="product-image"
              src="/img/products/<%= product.main_image %>"
              alt=""
            />
          </div>

          <div class="input-container">
            <!-- Input para Main Image -->
            <label for="main-image-upload" class="custom-file-upload">
              Cambiar Imagen Principal
            </label>
            <input id="main-image-upload" type="file" name="main_image" />
            <%if(locals.errors && errors.main_image){%>
              <p class="error-msg"><%= errors.main_image.msg %></p>
            <%}%>

          </div>

          <div class="thumbs-container">
            <% if(product.product_additional_images) { %>
              <img
              class="additional-images"
              src="/img/products/<%= product.product_additional_images.image_2 %>"
              alt=""
            />
            <img
              class="additional-images"
              src="/img/products/<%= product.product_additional_images.image_3 %>"
              alt=""
            />
            <img
              class="additional-images"
              src="/img/products/<%= product.product_additional_images.image_4 %>"
              alt=""
            />
            <% } %>

          </div>
          <div class="input-container">
            <!-- Input para las otras tres imágenes -->
            <label for="additional-images-upload" class="custom-file-upload">
              Cambiar Imágenes Adicionales
            </label>
            <input
              id="additional-images-upload"
              type="file"
              name="additional_images"
              multiple
            />
            <%if(locals.errors && errors.additional_images){%>
              <p class="error-msg"><%= errors.additional_images.msg %></p>
            <%}%>

          </div>

          <div class="input-container">
            <label for="stock" class="label"
              >Disponibilidad <br />
              <input
                type="number"
                min="0"
                step="1"
                name="stock"
                value="1" 
                class="form-control stock"
              />
              Unidades
            </label>
          </div>

          <button class="button" type="submit">Enviar</button>
        </form>
      </div>
    </main>

    <footer><%- include('../partials/footer') %></footer>

    <script src="/js/fileUpload.js"></script>
  </body>
</html>
