<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/user/login-form-styles.css" />
    <title>Vendo Mis Cosas</title>
  </head>
  <body>
    <header><%- include('../partials/header') %></header>

    <main class="login-all-container">
      <h1 class="login-title">Ingreso</h1>

      <div class="form-container">
        <form action="/login" method="POST" class="form">
          <h2 class="login-subtitle">Login</h2>

          <div class="input-container">
            <label class="label" for="user_email">Email</label>
            <input
              class="form-control"
              type="text"
              name="user_email"
              value="<%= locals.oldData ? oldData.user_email : '' %>"
            />
            <% if(locals.errors && errors.user_email) { %>
            <p class="error-msg"><%= errors.user_email.msg %></p>
            <% } %>
          </div>

          <div class="input-container">
            <label class="label" for="password">Password</label>
            <input class="form-control" type="password" name="password" />
            <% if(locals.errors && errors.password) { %>
            <p class="error-msg"><%= errors.password.msg %></p>
            <% } %>
          </div>

          <label class="label">
            <input type="checkbox" class="check-box" name="remember" />Recordar
            mi usuario
          </label>

          <button class="button" type="submit">Enviar</button>

          <p class="label">¿ No tienes cuenta ? <a class="link" href="/register">Regístrate</a> </p>
        </form>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
