<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/user-profile-styles.css">
    <title>Vendo Mis Cosas</title>
</head>
<body>
    
    <%- include('../partials/header.ejs') %>

    <main class="user-profile-all-container">

        <section class="user-profile-container">

            <h1 class="user-title">Usuario</h1>
            <h2 class="user-subtitle"> <%= user.user_name %> </h2>

            <article class="user-card">

                <img class="user-avatar" src="/img/users/<%= user.user_avatar %>" alt="user-avatar">

                <div class="data-container">


                    <p class="user-data"> <%= user.sales_description %> </p>

                    <p class="user-data"> <%= user.user_email %> </p>

                    <% if(locals.userLogged && locals.userLogged.id == user.id) { %>
                        <a href="/usuarios/<%= locals.userLogged.id %>/agregar-producto">
                            <button type="submit" class="panel-buttons">Agregar Producto</button>
                        </a>
                        <a href="/usuarios/<%= locals.userLogged.id %>/actualizar-usuario">
                            <button type="submit" class="panel-buttons">Actualizar Usuario</button>
                        </a>

                        
                    <% } %>

                </div>

            </article>
            
        </section>           

            <% if(user.products.length > 0) { %>

                <h2 class="user-subtitle">Productos a la venta</h2> 
            <% } else if(user.products.length === 0) { %>  
                <h2 class="user-subtitle">No tiene Productos a la venta</h2> 
            <% } %>

        <section class="products-container">

            <% user.products ? user.products.map ( element => { %>

                <a class="product-link" href="/usuarios/<%= user.id %>/productos/<%= element.id %>">
                    <article class="product-card">

                        <img class="product-image" src="/img/products/<%= element.main_image %>" alt="imagen-producto">

                        <h3 class="product-name"> <%= element.product_name %> </h2>
                        <p class="product-description"> <%= element.product_description %> </p>
                        <p class="product-price">$ <%= element.product_price %> </p>  

                        <% if(locals.userLogged && locals.userLogged.id == user.id) { %>
                            <a href="/usuarios/<%= locals.userLogged.id %>/actualizar-producto/<%= element.id %>">
                                <button type="submit" class="control-panel-buttons">Editar Producto</button>
                            </a>
                            <a href="">
                                <button type="submit" class="control-panel-buttons">Borrar Producto</button>
                            </a>  

                        <% } %>

                    </article>
                </a>

            <% }): ""; %>


            


        </section>


            <% if(user.vendor_user_reviews.length > 0) { %>
                <h2 class="user-subtitle">Reseñas de otros Usuarios</h2>
            <% } else if (user.vendor_user_reviews.length === 0) { %>
                <h2 class="user-subtitle">No tiene Reseñas de otros Usuarios</h2>
            <% } %>

        <section class="reviews-container">

            

            <% user.vendor_user_reviews? user.vendor_user_reviews.map ( element => { %>

                

                <article class="review-card">

                    <h3 class="review-title"> <%= element.review_title %> </h3>
                    <p class="review-text"> <%= element.review_text %> </p>
                    <h4 class="review-rating">Rating:  <%= element.review_rating %>/100 </h4>

                </article>

            <% }): ''; %>

        </section>

    </main>

    <%- include('../partials/footer') %>

</body>
</html>